.container {
  position: fixed;
  top: 46px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}


.rates {
  display: flex;
}

.rates > p {
  margin: 0 4px;
  font-size: 16px;
}

.card {
  margin: auto 5px;
  resize: both;
  overflow: auto;
}

.example-handle {
  cursor: grab;
  float: right;
}

.example-handle:active {
  cursor: grabbing;
}
