<div class="overview-container">
  <app-nav-button [type]="'next'" (navEmit)="nav($event)"></app-nav-button>
  <div class="overview-body">
    <p>{{ company?.name }} is a cool company!</p>
  </div>
  <div class="logout-button">
    <app-snack-button
      [disabled]="false"
      [message]="'Back to Login'"
      [action]="'Logging Out 🎂'"
      [verticalPosition]="'bottom'"
      [horizontalPosition]="'left'"
      [matColor]="'accent'"
      [type]="'LOG OUT'"
      (click)="nav('logout')"
    ></app-snack-button>
  </div>
</div>
