<div class="container" *transloco="let t; read: 'client'">
  <div class="flex-grid">
    <div class="col">
      <app-peo-section
        [plans]="plans"
        [title]="t('health') | uppercase"
        [tag]="anthemTag"
        (planEmitter)="planEmitFromSection($event)"
      ></app-peo-section>
      <app-peo-section
        [title]="t('vision') | uppercase"
        [plans]="plans"
        [headerColor]="'teal'"
        (planEmitter)="planEmitFromSection($event)"
      ></app-peo-section>
      <app-peo-section
        [title]="t('additional') | uppercase"
        [headerColor]="'teal'"
        [addButton]="true"
        (benefitEmitter)="benefitAction()"
      ></app-peo-section>
    </div>
    <div class="col">
      <app-peo-section
        [title]="t('dental') | uppercase"
        [plans]="plans"
        [tag]="dentalTag"
        (planEmitter)="planEmitFromSection($event)"
      ></app-peo-section>
      <app-peo-section
        [title]="t('life') | uppercase"
        [plans]="plans"
        [headerColor]="'teal'"
        (planEmitter)="planEmitFromSection($event)"
      ></app-peo-section>
      <app-peo-section
        [title]="t('new') | uppercase"
        [headerColor]="'teal'"
        [addButton]="true"
        (benefitEmitter)="addServiceOrBenefit()"
      ></app-peo-section>
    </div>
    <div class="col">
      <div class="section right">
        <div class="section-header">
          {{ t("brandColors") | uppercase }}
          <div class="delete-add-buttons">
            <app-circle-button
              class="delete-add-button"
              *ngIf="colorToDelete !== ''"
              (click)="deleteColor()"
              [matIcon]="'delete'"
              [size]="'small'"
              [color]="'accent'"
            ></app-circle-button>
            <app-circle-button
              class="delete-add-button"
              (click)="addColor()"
              [matIcon]="'add'"
              [size]="'small'"
              [color]="'accent'"
            ></app-circle-button>
          </div>
        </div>
        <div class="section-body dark" *ngFor="let color of brandColors">
          <div
            class="brand-color"
            (click)="selectColorToDelete(color)"
            [class.selected-color-to-delete]="colorToDelete === color"
          >
            <div
              class="brand-color-square one"
              [style.background]="color"
            ></div>
            {{ color | uppercase }}
          </div>
        </div>
      </div>
      <div class="section right">
        <div class="section-header">PEO BRAND IMAGES</div>
        <div class="section-body dark">
          <div class="upload">
            <label for="upload-file-1" class="upload-btn"
              ><mat-icon>publish</mat-icon></label
            >
            <input
              id="upload-file-1"
              (change)="handleFileSelect($event)"
              (click)="clearFileSelection($event)"
              class="btn btn-default upload-file"
              type="file"
            />
          </div>
          <div class="upload">
            <label for="upload-file-2" class="upload-btn"
              ><mat-icon>{{ t("publish") }}</mat-icon></label
            >
            <input
              id="upload-file-2"
              (change)="handleFileSelect($event)"
              class="btn btn-default upload-file"
              type="file"
            />
          </div>
        </div>
      </div>
      <div class="section right">
        <div class="section-header">
          {{ t("tags") | uppercase }}
          <div class="delete-add-buttons">
            <app-circle-button
              class="delete-add-button"
              *ngIf="selectedTag?.title !== ''"
              (click)="deleteTag()"
              [matIcon]="'delete'"
              [size]="'small'"
              [color]="'accent'"
            ></app-circle-button>
            <app-circle-button
              class="delete-add-button"
              (click)="addTag()"
              [matIcon]="'add'"
              [size]="'small'"
              [color]="'accent'"
            ></app-circle-button>
          </div>
        </div>
        <div class="section-body tags">
          <div *ngFor="let tag of tags">
            <app-tag-button
              (click)="selectTag(tag)"
              [tag]="tag"
              [selected]="selectedTag ? selectedTag.id === tag.id : false"
            ></app-tag-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
