<div class="container">
  <div class="section left">
    <img
      src="https://image.freepik.com/free-vector/x-letter-stripe-sphere-ball-circle-corporate-generic-logo-template_8580-28.jpg"
      alt="cool pic"
      style="width: 100px; height: 100px;"
    />
    <img
      class="face"
      src="   https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNYiCJTvBKK5sQxBq6iz1EDpfkhEFBhPBoBcYisNNyum88CkKf&usqp=CAU"
      alt="cool pic"
      style="width: 100px; height: 100px;"
    />
    <div class="profile-text">
      <h4>Welcome, {{ agentName }}</h4>
      <h5>{{ agentEmail }}</h5>
      <h5>{{ agentPhone }}</h5>
    </div>
  </div>
  <div class="section right">
    <h4>Select Client</h4>
    <mat-form-field>
      <mat-label>Client Name</mat-label>
      <mat-select [(value)]="selected">
        <mat-option
          *ngFor="let company of companies"
          [value]="company.companyID"
        >
          {{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="select-button">
      <app-snack-button
        [disabled]="!selected"
        [message]="setCompanyName()"
        [action]="'Going to Proposal'"
        [verticalPosition]="'bottom'"
        [horizontalPosition]="'center'"
        [matColor]="'primary'"
        [type]="'VIEW CLIENT'"
        (click)="nav('select')"
      ></app-snack-button>
    </div>

    <div class="button">
      <app-snack-button
        [disabled]="false"
        [message]="'Back to Login'"
        [action]="'Logging Out 🎂'"
        [verticalPosition]="'bottom'"
        [horizontalPosition]="'left'"
        [matColor]="'accent'"
        [type]="'LOG OUT'"
        (click)="nav('logout')"
      ></app-snack-button>
    </div>
  </div>
</div>
