.wizard-container {
  display: flex;
  z-index: 99999;
  position: fixed;
  top: 0;
  right: 25%;
  left: 25%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper-hidden {
  visibility: hidden;
  display: none;
}

.wizard-wrapper {
  visibility: visible;
  z-index: 99999;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 10%;
  height: 30%;
}
