<div class="app-container">
  <div class="header">

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item (click)="navigate('list')">
        <mat-icon>voicemail</mat-icon>
        <span>List</span>
      </button>
      <button mat-menu-item (click)="navigate('resize')">
        <mat-icon>dialpad</mat-icon>
        <span>Resize</span>
      </button>
      <button mat-menu-item (click)="navigate('cursors')">
        <mat-icon>fingerprint</mat-icon>
        <span>Cursors</span>
      </button>
      <button mat-menu-item (click)="navigate('login')">
        <mat-icon>blur_circular</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item (click)="navigate('peo')">
        <mat-icon>psychology</mat-icon>
        <span>PEO</span>
      </button>
      <button mat-menu-item (click)="navigate('')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="navigate('sql')">
        <mat-icon>computer</mat-icon>
        <span>SQL</span>
      </button>
    </mat-menu>
    <button mat-raised-button (click)="openWizard()" color="accent">
      <mat-icon>traffic</mat-icon>
    </button>
    <app-language-toggle></app-language-toggle>
  </div>

</div>
<router-outlet></router-outlet>
<app-wizard-container></app-wizard-container>
<app-prompt-container></app-prompt-container>
