<div class="container">
  <mat-drawer-container
    class="example-container"
    autosize
    (mousemove)="cursorMove($event)"
    [style.cursor]="setCursor()"
  >
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="buttons" *ngFor="let button of buttons">
        <app-cursor-button
          [type]="button"
          [selected]="selected === button"
          (cursorEmit)="cursorChange($event)"
        ></app-cursor-button>
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button
        class="toggle-button"
        type="button"
        mat-raised-button
        color="accent"
        (click)="drawer.toggle(); sideNaveOpenToggle()"
      >
        <mat-icon>{{
          sideNavOpen ? "arrow_back_ios" : "arrow_forward_ios"
        }}</mat-icon>
      </button>
    </div>
  </mat-drawer-container>
  <div class="selected">Selected: {{ selected }}</div>
</div>
