.container {
  position: fixed;
  top: 46px;
  height: 100%;
  width: 100%;
}

.example-container {
  background-color: white;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.toggle-button {
  right: 47%;
  margin: 2px 0;
}

.selected {
  color: #333;
  font-weight: bold;
  width: 150px;
  height: 150px;
  border: 1px solid #333;
}

textarea {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  font-size: 34px;
  font-family: sans-serif;
}

.text-button {
  margin: 1% 57%;
}

.palette-area {
  border: 1px solid #333;
  height: 215px;
  width: 30%;
  padding: 5%;
  margin-left: 25%;
  margin-top: 1%;
  color: #333;
  background-color: white;
  -webkit-box-shadow: 10px 10px 117px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 10px 10px 117px 0px rgba(227, 227, 227, 1);
  box-shadow: 10px 10px 117px 0px rgba(227, 227, 227, 1);
}

.palette-area > button {
  margin: 25% 35%;
}

.palette-area > h4 {
  margin: 5% 15%;
}

.light {
  color: #333;
  background-color: rgba(248, 251, 255, 0.41);
}

.dark {
  color: white;
  background-color: #333;
}

.dark > button {
  background-color: white;
  color: #333;
}

.g103 {
  color: lightsalmon;
  background-color: teal;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.g103 > button {
  background-color: lightsalmon;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: teal;
}

