.container {
  position: fixed;
  top: 46px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.example-container {
  flex-basis: 20%;
  height: 75%;
  width: 100%;
}

.cards-container {
  flex-basis: 50%;
  height: 75%;
  width: 100%;
}

.list {
  cursor: pointer;
}

.card-list {
  height: 100%;
  display: inline-grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
