<div class="container">
  <div class="example-container">
    <h2>Master Plans</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="list"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list first-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="list item" *ngFor="let item of list" cdkDrag mat-basic-chip>
        {{ item.name }}
      </div>
    </div>
  </div>

  <div class="cards-container">
    <h2>Plans to Offer</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="finalList"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-list class="list card-list" *ngFor="let item of finalList" cdkDrag>
        <mat-list-item><app-card [plan]="item"></app-card></mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="button">
    <app-snack-button
      [type]="'Reset List'"
      [action]="'Do the dew'"
      [message]="'🌇 Be Cool'"
      [color]="'warn'"
      [verticalPosition]="'top'"
      [horizontalPosition]="'center'"
      (click)="reset()"
    ></app-snack-button>
    <app-snack-button
      [type]="'Save List'"
      [action]="'Do Great Things'"
      [message]="'📺Cool It Now'"
      [verticalPosition]="'top'"
      [horizontalPosition]="'center'"
      [color]="'primary'"
      (click)="saveList()"
    ></app-snack-button>
  </div>
</div>
