.container {
  position: fixed;
  top: 46px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.example-container {
  flex-basis: 20%;
}

.cards-container {
  border: 1px dotted #333;
  flex-basis: 50%;
  height: 75%;
  width: 100%;
}

.list {
  cursor: pointer;
}

.card-list {
  border: 1px dotted hotpink;
  height: 100%;
  display: grid;
  margin: 0 0 12% 0%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}


