.container {
  position: fixed;
  top: 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.example-container {
  flex-basis: 20%;
  height: 75%;
  width: 100%;
  border-right: 1px solid rgba(51, 51, 51, 0.58);
  margin-right: 30px;
}

.cards-container {
  flex-basis: 50%;
  height: 75%;
  width: 100%;
  border-right: 1px solid rgba(51, 51, 51, 0.58);
  margin-right: 30px;
}

.list {
  cursor: pointer;
}

.card-list {
  height: 100%;
  display: inline-grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.empty {
  border: 1px dotted rgba(255, 112, 112, 0.47);
  height: 25px;
  width: 50%;
}

.empty:hover {
  border: 2px solid rgb(255, 112, 112);
}

.button {
  margin: 3% 0;
}
