<div aria-label="color selection" class="chip-list">
  <mat-chip-list>
    <mat-chip class="chip" (click)="thicker()">Thicker</mat-chip>
    <mat-chip class="chip" (click)="thinner()">Thinner</mat-chip>
    <mat-chip class="white chip" (click)="selectColor('white')">Erase</mat-chip>
    <mat-chip class="black chip" (click)="selectColor('black')">Black</mat-chip>
    <mat-chip class="teal chip" (click)="selectColor('teal')">Teal</mat-chip>
    <mat-chip class="salmon chip" (click)="selectColor('lightsalmon')"
      >Salmon</mat-chip
    >
    <mat-chip class="purple" (click)="selectColor('purple')">Purple</mat-chip>
    <mat-chip
      class="chip"
      [style.background]="chosenColor"
      [class.selected-white]="chosenColor.includes('fff')"
      (click)="customColorSelect()"
      >Custom</mat-chip
    >
  </mat-chip-list>
</div>
<label
  >PAINT AREA
  <canvas
    #canvas
    width="800"
    height="400"
    (mousedown)="paint($event)"
    (mousemove)="painting($event)"
    (mouseup)="painted($event)"
  >
  </canvas>
</label>
<div class="chip-list">
  <app-snack-button
    [type]="'PDF'"
    [horizontalPosition]="'center'"
    [verticalPosition]="'top'"
    [action]="'🥎'"
    [message]="'Downloading PDF'"
    [matColor]="'accent'"
    (click)="toPDF()"
  ></app-snack-button>
  <app-snack-button
    [type]="'Clear'"
    [horizontalPosition]="'center'"
    [verticalPosition]="'top'"
    [action]="'🥦'"
    [message]="'ERASED'"
    [matColor]="'warn'"
    (click)="clearPaint()"
  ></app-snack-button>
  <app-snack-button
    [type]="'Save'"
    [horizontalPosition]="'center'"
    [verticalPosition]="'top'"
    [action]="'🍟'"
    [message]="'SAVED'"
    [matColor]="'primary'"
    (click)="savePaint()"
  ></app-snack-button>
</div>
