<div class="container">
  <svg class="Rectangle_975">
    <rect
      id="Rectangle_975"
      rx="87"
      ry="87"
      x="0"
      y="0"
      width="603"
      height="657"
    ></rect>
  </svg>
  <svg class="Path_2046" viewBox="0 0 451 427">
    <path id="Path_2046" d="M 0 0 L 451 0 L 451 427 L 0 427 L 0 0 Z"></path>
  </svg>
  <svg class="Rectangle_122">
    <rect
      id="Rectangle_122"
      rx="24"
      ry="24"
      x="0"
      y="0"
      width="327"
      height="48"
    ></rect>
  </svg>
  <div id="John_Doe">
    <span>PEO ID</span>
  </div>
  <div id="Input">
    <svg class="Rectangle_122_bi">
      <rect
        id="Rectangle_122_bi"
        rx="24"
        ry="24"
        x="0"
        y="0"
        width="327"
        height="48"
      ></rect>
    </svg>
    <div id="johndoemailcom">
      <span>EMAIL</span>
    </div>
  </div>
  <div id="Input_bk">
    <svg class="Rectangle_122_bl">
      <rect
        id="Rectangle_122_bl"
        rx="24"
        ry="24"
        x="0"
        y="0"
        width="327"
        height="48"
      ></rect>
    </svg>
    <div id="Password">
      <span>Password</span>
    </div>
  </div>
  <div id="Input_bt">
    <svg class="Rectangle_122_br">
      <rect
        id="Rectangle_122_br"
        rx="24"
        ry="24"
        x="0"
        y="0"
        width="327"
        height="48"
      ></rect>
    </svg>
    <div id="Confirm_Password_bv">
      <span>Confirm Password</span>
    </div>
  </div>
  <div id="Input_bt">
    <svg class="Rectangle_122_br">
      <rect
        id="Rectangle_122_br"
        rx="24"
        ry="24"
        x="0"
        y="0"
        width="327"
        height="48"
      ></rect>
    </svg>
    <div id="Confirm_Password_bv">
      <span>Confirm Password</span>
    </div>
  </div>
  <div id="Input_bt">
    <svg class="Rectangle_122_bu">
      <rect
        id="Rectangle_122_bu"
        rx="24"
        ry="24"
        x="0"
        y="0"
        width="327"
        height="48"
      ></rect>
    </svg>
    <div id="Confirm_Password_bv">
      <span>Confirm Password</span>
    </div>
  </div>
  <div onclick="application.goToTargetView(event)" id="Input_bw">
    <svg class="Rectangle_122_bx">
      <rect
        id="Rectangle_122_bx"
        rx="33"
        ry="33"
        x="0"
        y="0"
        width="327"
        height="66"
      ></rect>
    </svg>
  </div>
  <div id="John_Doe_by">
    <span>Sign in</span>
  </div>
  <div id="John_Doe_bz">
    <span>Cure technologies<br />proposal portal</span>
  </div>
  <img
    id="Image_5"
    src="Image_5.png"
    srcset="Image_5.png 1x, Image_5@2x.png 2x"
  />
</div>
