.container {
  position: fixed;
  top: 46px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.login-rect {
  border: 1px solid #333;
  border-radius: 66px 66px 66px 0;
  padding: 10%;
  background-color: #333;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px 0;
  padding: 5%;
}

button {
  margin: 5px 0;
}
