.container {
  position: fixed;
  top: 46px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.login-rect {
  border: 1px solid #333;
  border-radius: 66px 66px 66px 0;
  padding: 8% 16%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.header {
  text-align: center;
  font-size: 1.65em;
  width: 100%;
  font-weight: normal;
  margin-top: -5%;
}

img {
  margin: -10% auto auto auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto 30px auto -20%;
}

input {
  border-radius: 25px;
  margin: 5px 0;
  padding: 5%;
  width: 125%;
}

.button {
  width: fit-content;
  margin-top: 5px;
  margin-left: 100%;
}
