<div class="container">
  <div class="login-rect">
    <form>
      <label for="peoID">
        <input id="peoID" placeholder="Peo Id"/>
      </label>
      <label for="email">
        <input id="email" placeholder="Email"/>
      </label>
      <label for="password">
        <input id="password" placeholder="Password"/>
      </label>
      <label for="confirm_password">
        <input id="confirm_password" placeholder="Confirm Password"/>
      </label>
      <button type="submit" mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    </form>
  </div>
</div>
