<button *ngIf="matColor === 'primary'"
  mat-raised-button
  color="primary"
  [disabled]="disabled"
  (click)="openSnackBar()"
>
  {{ type }}
</button>

<button *ngIf="matColor === 'accent'"
        mat-raised-button
        color="accent"
        [disabled]="disabled"
        (click)="openSnackBar()"
>
  {{ type }}
</button>

<button *ngIf="matColor === 'warn'"
        mat-raised-button
        color="warn"
        [disabled]="disabled"
        (click)="openSnackBar()"
>
  {{ type }}
</button>

