.prompt {
  color: #333333;
  margin: auto auto;
  visibility: hidden;
  text-align: left;
  border-radius: 5px;
  display: inline-flex;
  border: 3px solid darkgrey;
  //max-width: 800px;
  overflow: visible;
  background: white;
  padding: 4% 2%;

  &:hover {
    footer {
      border-top: 1px solid lighten(#bba52a, 10);
    }
  }
}

.prompt > div {
  width: 100%;
}

footer {
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 2% 0;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.prompt-header {
  font-size: 20px;
  margin-bottom: 5px;
}

.prompt-question {
  font-size: 20px;
  margin-bottom: 5px;
}

.prompt-body {
  background: #333333;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  margin: 2% auto;
}

.prompt-body.colorPicker {
  padding: 10%;
  color: white;
  cursor: pointer;
}

.show-prompt {
  width: 600px;
  visibility: visible;
  animation: fadeInDown 150ms ease;
}

@keyframes fadeInDown {
  0% {
    opacity: 0.5;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
